body{
    background: #ffffff;
    font-family: 'Open Sans', sans-serif;

}

.artigos-recentes ul li{
    list-style: none;
}

.artigos-recentes ul li a{
    text-decoration: none;
    color: black;
}

.artigos-recentes ul li a:hover{
    color: #ffffff;
    background: #000000;
    
    
}

.jumbotron{
    margin-bottom: 0;
    padding: 0;
    position: relative;
}

nav{
    border-bottom: 3px solid #343a40;
    margin-bottom: 2em;
    background: #00ace9;
    
}

.nav-item.active{
    background-color: #343a40;

}

.navbar-nav .nav-link{
    color: #ffffff;
}

.artigo-titulo{
    margin-bottom: 2em;
}

.artigo-titulo h3{
    font-weight: bold;
}

.artigo-subtitulo{
    margin-bottom: 2em;
}

.artigo-conteudo{
    line-height: 1.8;
    font-size: .9em;
}

.artigo-conteudo p{
    line-height: 1.8;
}

.tags ul li{
    display: inline;
}

.tags ul li a{
    text-decoration: none;
    margin: 2px;
}

.ranking-autores ul li{
    list-style: none;
}

.ranking-autores ul li a{
    text-decoration: none;
    color: #666666;
}

.ranking-autores ul li a:hover{
    color: #ffffff;
    background: #000000;
    
}

.wrapper{
    position: relative;
    margin-bottom: 5em;
    min-height: 700px;
}

footer{
    text-align: center;
    font-size: 0.75em;
    position: fixed;
    bottom: 0;
    left: 0;
    height: auto;
    width: 100%;
    padding: 1em;
    margin-top: 2em;
    
}

.identificacao{
    margin-bottom: 1em;
    font-size: .85em;
    font-weight: normal;
}

.topo-titulo{
    font-size: 2.5em;

}

.topo-subtitulo{
    font-size: 1.5em;
    
}

.topo-texto{
   
    padding: 1em;
    text-align: left;
    padding: 2em;
    margin-top: 2em;
}

.login{
    color: #ffffff;
    text-align: center;
    padding: 1em;
}

.login a{
    color: #ffffff;
}

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}